{% extends 'bootstrap/base.html' %}

{% block head %}
<title>NCAA_PRO</title>
<link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
<style>body{background-image: url(../static/images/gator.jpg); background-size:cover;}</style>
<div id="home">
    <p><font size="6" color="red"><strong>Welcome {{user}}!</strong></font></p>
</div>
<div>
    <button type="button" class="btn btn-outline-primary" style="margin-left:1400px;margin-top:-80px;width:100px">
        Log Out
    </button>
</div>
<div>
    <button type="button" class="btn btn-outline-success" style="margin-left:670px;margin-top:100px;width:200px">
        <a class href="/graph">
          Sample Query
        </a>
    </button>
</div>
<div>
    <button type="button" class="btn btn-outline-primary" style="margin-left:670px;margin-top:50px;width:200px">
        Interesting Trends
    </button>
</div>
<div>
    <button type="button" class="btn btn-outline-primary" style="margin-left:670px;margin-top:30px;width:200px">
        Head to Head
    </button>
</div>
<div>
    <button type="button" class="btn btn-outline-primary" style="margin-left:670px;margin-top:30px;width:200px">
        Quick QA
    </button>
</div>
<div>
    <button type="button" class="btn btn-outline-primary" style="margin-left:670px;margin-top:30px;width:200px">
        Good to Know
    </button>
</div>
{% endblock %}